/*@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';*/

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            /*width: 22px;*/
}
body {
/*}
.background  {
  background-size: cover;*/
  font-family: 'Times';
  margin: 0;
  padding: 0;
  /*width: 100%;
  height: 100%;*/
  background-color:#b5a7f9;
  animation-name: example;
  animation-duration: 30s;
  animation-iteration-count: infinite;
/*  animation-play-state: running;*/
}
.pause {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
@keyframes example {
    0%   {background-color:#ffcedd; left:0px; top:0px;}
    25%  {background-color:#ffbc87; left:0px; top:0px;}
    50%  {background-color:#e0f97c; left:0px; top:0px;}
    75%  {background-color:#7cf9e4; left:0px; top:0px;}
    100% {background-color:#ffcedd; left:0px; top:0px;}
}

.nav {
  text-align: left;
  margin-left: 2vw;
  margin-top: 10vh;
  margin-right: 10vw;
  color: #3c606d;
}
.menuitem {
    display: inline-block;
    list-style-type: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 3.5vw;
}
.nav .menuitem span {
    font-style: italic;
}
img {
  /*border: 1px solid black;*/
  position: absolute;
  /*width: 5vw;
  height: 5vw;*/
  width: 20%;
  margin-top: 200px;
  margin-left: 500px;
  background-color: red;
  z-index: 2;
  opacity: 0;
}
.menuitem:hover img {
  opacity: 1;
}
.menuitem:hover {
  text-decoration: underline;
}
.work  {
	text-decoration: none;
	padding-top: 1.5vw;
	padding-left: 3vw
}
.close  {
	position: absolute;
/*	display: inline-block;*/
    list-style-type: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 3.5vw;
	right: 2vw;
}
.medium  {
	font-style: italic;
}
.vidcontainer {
  position: relative;
  /*border: 1px solid black;*/
  /*margin-left: 4vw;*/
  margin-bottom: 4vw;
  width: 63vw;
}
.vidwrapper {
  /*border: 1px solid black;*/
  margin-top: 30px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.vidwrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.gdinterviews{
  /*Hides pop-up when there is no "active" class*/
  display: block;
  visibility:hidden;
  opacity: 0;
  position:absolute;
  top: 5vw;
  background:pink;
  border:3px solid #666666;
  width:90%;
  height:70vw;
  left: 5%;
  right: auto;
  transition: visibility 0s linear 800ms, opacity 900ms;
  z-index: 100;
}
.gdinterviews.active1{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  opacity: 1;
  text-align:left;
  transition: opacity 900ms;
}



.bottom  {
  position: absolute;
  top: 2243px;
  left: 0px;
  width: 100%;
  height: 100px;
  /*border: 1px solid black;*/
  text-align: center;
  line-height: 20px;
  background-color: red
}
