@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            width: 22px;

           
}

body  {
  font-family: 'Roboto';
}
.accept1  {
	 position: absolute;
    /*z-index: 100;*/
    display: block;
    object-fit: contain;
    text-decoration: none; 
    list-style-type: none;
    font-size: 21px;
    text-align: center;
    color: black;
    width: 90px;
    height: 20px;
    padding: 8px;
    margin-top: 0px;
    /*border: 3px solid black;*/
}
.imgbox  {
	object-fit: cover;
}
.accept  {
	text-decoration: none;
	z-index: 1;
	position: absolute;
	margin-top: 100px;
	width: 90px;
	height: 28px;
	border: 3px solid black;
	text-align: center;
}
.text {
	z-index: 1;
	position: relative;
	text-decoration: none; 
	list-style-type: none;
	outline: 0;
	color: black;
	font-size: 21px;
	margin: 4px;
	/*border: 1px solid black;*/
}
.accept img {
	z-index: 99;
	position: absolute;
	object-fit: contain;
	/*box-sizing: border-box;*/
	width: 90px;
	visibility: hidden;
	overflow-x : hidden;
    overflow-y : hidden;
}
.accept:hover img {
  visibility: visible;
}

#decline  {
  display: block;
  position: absolute;
  text-decoration: none; 
  list-style-type: none;
  font-size: 21px;
  text-align: center;
  color: black;
  width: 190px;
  height: 20px;
  padding: 8px;
  margin-top: 213px;
  margin-left: 30px;
  border: 3px solid black;
  object-fit: fill;
}
#decline:hover {
  background: url("tinygrace1.jpg");
  background-size: 114px 36px;
  font-size: 0px;

}
#decline2  {
  z-index: 2;
  display: block;
  position: absolute;
  text-decoration: none; 
  list-style-type: none;
  font-size: 21px;
  text-align: center;
  color: black;
  width: 90px;
  height: 20px;
  padding: 8px;
  margin-top: 413px;
  margin-left: 30px;
  border: 3px solid black;
}
#decline2 img  {
	display: block;
	position: absolute;
	width: 106px;
	height: 36px;
	margin-left: -8px;
	margin-top: -29px;
	object-position: left top;
	object-fit: fill;
	z-index: 1;
	visibility: hidden;
	/*border: 3px solid black;*/
}
#decline2:hover img {
  visibility: visible;
}
#decline3  {
  z-index: 1;
  display: inline-block;
  position: absolute;
  color: black;
  width: 90px;
  height: 20px;
  padding: 8px;
  margin-top: 513px;
  margin-left: 30px;
  border: 3px solid black;
}
.declinetext  {
	 z-index: 3;
  display: absolute;
	text-decoration: none; 
  list-style-type: none;
  font-size: 21px;
  text-align: center;
}
.grace  {
 
  z-index: 99;
  background: url("tinygrace1.jpg");
  background-size: 114px 36px;
  visibility: visible;
}
#decline3:hover .grace {
  visibility: visible;
}
#decline4  {
  z-index: 1;
  display: block;
  position: absolute;
  color: black;
  width: 90px;
  height: 20px;
  padding: 8px;
  margin-top: 613px;
  margin-left: 30px;
  border: 3px solid black;
}
#decline4::after {
  position: relative;
  vertical-align: top;
  content:url('tinygrace1.jpg');
/*  background: url("tinygrace1.jpg");*/
  background-size: 114px 36px;
  visibility: hidden;
}
#decline4:hover::after {
  visibility: visible;
}
