@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            width: 22px;
  background-color: FFFFFF;
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
.menucontainer  {
  position: fixed;
  top: 0;
  width: 100%;
/*  border: 1px solid black;*/
}
.menu {
  display: flex;
  justify-content: space-around;
  margin: 20px 70px;
  /*border: 1px solid black;*/
}
a  {
  list-style-type: none;
  text-decoration: underline;
  color: black;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
}
.menuitems a:hover  {
  font-style: italic;
}
.logocontainer {
  position: fixed;
  top: 280;
  right: -65;
  left: 300;
  min-width: 420px;
  padding-left: 300px;
/*  border: 1px solid black;*/
}
#sideways  {
  float: right;
  font-size: 44px;
  width: 350px;
  height: 90px;
  padding: 20px;
  transform: translate(-50%, -100%);
  transform: rotate(90deg);
  color: black;
  border: 5px solid black;
  z-index: 0;
}
.details  {
  position: fixed;
  margin-top: 150px;
  margin-left: 50px;
  width: 240px;
  font-size: 58px;
  font-weight: 400;
  text-decoration: underline;
}
.deets.title  {
  margin-top: -6px;
}
.awardscontainer  {
  position: absolute;
  top: 150px;
  left: 300;
  right: 250;
  min-width: 300px;
  /*border: 1px solid black;*/
}
.awards  {
  margin: 0 70px;
  font-size: 20px;
  line-height: 25px;
  min-width: 300px;
  /*border: 1px solid black;*/
}
.awards span  {
  font-style: italic;
}
/*.awards  {
  position: absolute;
  margin-top: 150px;
  margin-left: 440px;
  width: 500px;
  font-size: 20px;
  line-height: 25px;
  border: 0px solid black;
}
.awards span  {
  font-style: italic;
}*/
.bottom  {
  position: absolute;
  top: 950px;
  left: 0px;
  width: 100%;
  height: 70px;
 /* border: 1px solid black;*/
  text-align: center;
  line-height: 20px;
}

