@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    /*cursor: url("./Fez-Medlrg.png"), auto;
            width: 22px;*/
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
.logowrapper  {
	position: fixed;
	width: 100%;
}
.logocontainer  {
	margin-left: 50px;
	margin-right: 50px;
	max-width: 1300px;
	min-width: 400px;
	margin-top: 280px;
	/*padding-right: 50px;*/
}
#logo {
	float: right;
	margin-right: -100px;
	font-size: 44px;
	width: 350px;
    height: 90px;
    padding: 20px;
	border: 5px solid black;
	transform: translate(-50%, -100%);
    transform: rotate(90deg);
}
