@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            /*width: 22px;*/
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
/*  width: 80%;*/
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  /*background-color: red;*/
}
#preloader {
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:999; /* makes sure it stays on top */
}

#status {
    /*width:80px;
    height:80px;*/
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    /*background-image:url(loading2.gif);  path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-40px 0 0 -40px; /* is width and height divided by two */
}
#status img  {
   width:80px;
  height:80px;
  
}
/*/*/*div#content {
  z-index: 300;
    /*display: none;*/
    }
.menucontainer  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
/*  border: 1px solid black;*/
}
.menu {
  display: flex;
  justify-content: space-around;
  margin: 20px 70px;
  /*border: 1px solid black;*/
/*  background-color: red;*/
}
.menuitems a  {
  list-style-type: none;
  color: black;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
}
.menuitems a:hover  {
  font-style: italic;
}
.logowrapper  {
  position: fixed;
  width: 100%;
}
.logocontainer  {
  margin-left: 50px;
  margin-right: 80px;
  /*max-width: 1300px;*/
  min-width: 400px;
  margin-top: calc(34vh + 60px);
  /*padding-right: 50px;*/
   /*border: 1px solid black;*/
}
#logo {
  float: right;
  margin-right: -100px;
  /*font-size: 44px;*/
  font-size: 6.5vh;
  /*width: 350px;
    height: 90px;*/
    width: 50vh;
    height: 13vh;
    padding: 20px;
  border: 5px solid black;
  transform: translate(-50%, -100%);
    transform: rotate(90deg);
}

/*The below affects every thumbnail on rollover*/
.outer-container  {
	z-index: 100;
	/*margin-left: 20vw;
	margin-right: 10vw;*/
}
.flex-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 80%;
    /*margin-left: 10vw;*/
  /*  background-color: grey;*/
}
.flex-item {
    min-width: 38vw;
    margin-left: 5vw;
     margin-right: 5vw;
    /*margin-right: 27px;*/
}
.rollover {
  /*display: block;*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  /*background-color: rgba(0,0,0,.35);*/
  opacity: 0;
  color: white;
}
.rollover img  {
  display: block;
  position: relative;
  width: 100%;
  object-fit: contain;
  top: 0px;
  left: 0px;
  z-index: 7;
}
.rolloverpic img  {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  object-fit: contain;
   z-index: 3;
}
.subtitles  {
	position: relative;
	display: inline-block;
	list-style-type: none !important;
	text-decoration: none;
    line-height: 15px;
    margin-top: -3px;
	/*margin-top: 10px;
	left: 0px;*/
	font-size: 1vw;
	text-transform: uppercase;
	color: #000000;
	/*z-index: 6;*/
}

/*Items in Flex-item 1*/
/*.all #thorne  {
  position: absolute;
  top: 160px;
  left: 10vw;
}*/
.all #thornewrapper  {
  position: absolute;
  top: 160px;
  left: 10vw; 
}
.ninetofive #thornewrapper  {
  position: absolute;
  top: 160px;
  left: 10vw; 
}.fivetonine #thornewrapper  {
  position: absolute;
  top: 160px;
  left: 10vw; 
}
#thorne {
  width: 36vw;
}
.thornebg  {
  position: absolute;
  top: 0;
  left: 0;
}
.thornebg img  {
  width: 36vw;
}
.thornevid  {
  position: absolute;
  top: 3.8vw;
  left: 1.1vw;
}
.thornevid video  {
  width: 33.9vw;
  /*border: 0.1px solid white;*/
}
#thornetitle  {
  top: 23.5vw;
  left:20.9vw;
}
.all #infinitewrapper  {
  position: absolute;
  top: calc(160px + 38vw);
  left: 10vw;  
}
.ninetofive #infinitewrapper  {
  position: absolute;
  top: calc(160px + 38vw);
  left: 10vw; 
}.fivetonine #infinitewrapper  {
  position: absolute;
  top: calc(160px + 38vw);
  left: 10vw; 
}
.infinitevid video  {
  width: 36vw;
}
#infinitetitle  {
  top: 0.6vw;
}
.all #boostwrapper  {
  position: absolute;
  top: calc(160px + 70vw);
  left: 10vw;  
}
.ninetofive #boostwrapper  {
  position: absolute;
  top: calc(160px + 70vw);
   left: 10vw; 
}.fivetonine #boostwrapper  {
  position: absolute;
  top: calc(160px + 70vw);
  left: 10vw; 
}
.boostbg img  {
  width: 36vw;
}
.boostvid  {
  position: absolute;
  top:0;
  left: 3.37vw;
}
.boostvid video  {
  width: 30.5vw;
}
#boosttitle  {
  top: 0.6vw;
}
.all #shadewrapper  {
  position: absolute;
  top: calc(160px + 105vw);
  left: 10vw; 
}
.ninetofive #shadewrapper  {
  position: absolute;
  top: calc(160px + 105vw);
  left: 10vw;  
}.fivetonine #shadewrapper  {
  position: absolute;
  top: calc(160px + 105vw);
  left: 10vw;
}
.shadevid video  {
  width: 36vw;
}
#shadetitle  {
  top: 0.6vw;
}
.all #subsub  {
  position: absolute;
  margin-top: calc(160px + 139vw);
  left: 10vw; 
}
.ninetofive #subsub  {
  position: absolute;
  margin-top: calc(160px + 139vw);
  left: 10vw;  
}
.fivetonine #subsub  {
  position: absolute;
  margin-top: 160px;
  left: 10vw;
}
#subsubpic img  {
  width: 36vw;
}
#subsubtitle  {
  top: 0.6vw;
}
.all #houseworkwrapper  {
  position: absolute;
  top: calc(160px + 180vw);
  left: 10vw; 
}
.ninetofive #houseworkwrapper  {
  position: absolute;
  top: calc(160px + 180vw);
  left: 10vw;  
}
.fivetonine #houseworkwrapper  {
  position: absolute;
  margin-top: calc(160px + 39vw);
  left: 10vw;
}
.housevid video  {
  width: 36vw;
}
#housetitle  {
  top: 0.6vw;
}
.all #archive  {
  position: absolute;
  top: calc(160px + 208vw);
  left: 15vw; 
}
.ninetofive #archive  {
  position: absolute;
  top: calc(160px + 166vw);
  left: 15vw;   
}
.fivetonine #archive  {
  position: absolute;
  top: calc(160px + 208vw);
  left: 15vw; 
}
/*#archive  {
  width: 36vw;
  position: absolute;
  margin-top: calc(160px + 208vw);
  margin-left: 15vw;
}*/
#archive img  {
  width: 36vw;
}
#archivetitle  {
  top: 7;
  left: 0;
}

/*Items in flex-item 2*/

#mixionary {
  position: absolute;
  margin-top: 260px;
}
#mixpic  {
  position: relative;
  width: 36vw;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 6;
}
#mixionary img {
  display: block;
  width: 36vw;
  object-fit: contain;
}
#mixtitle {
  margin-top: 0.52vw;
  /*margin-left: -5vw;*/
}
#gdexpwrapper  {
  position: absolute;
  display: block;
  object-fit: contain;
  top: calc(260px + 47vw);
  width: 36vw;
  /*border: 1px solid black;*/
}
.gdexpbg  {
  position: absolute;
  top: 0;
  left: 0;
}
.gdexpbg img  {
  width: 36vw;
}
.gdexpvid  {
  position: absolute;
  top:3.13vw;
}
.gdexpvid video  {
  width: 33.8vw;
  /*border: 0.5px solid white;*/
}
#gdexptitle  {
  top: 24.9vw;
  left: 2.2vw;
}
#seawrapper  {
  position: absolute;
  display: block;
  object-fit: contain;
 top: calc(260px + 85vw);
  /*left: 5vw; */
  width: 36vw;
  /*border: 1px solid black;*/
}
.seavid  {
  position: absolute;
  top:0;
}
.seavid video  {
  width: 36vw;
  /*border: 0.5px solid white;*/
}
#seatitle  {
  top: 20.82vw;
}
#gdintwrapper  {
  position: absolute;
  display: block;
  object-fit: contain;
  top: calc(260px + 118vw);
  /*left: 5vw; */
  width: 36vw;
  /*border: 1px solid black;*/
}
.gdintvid  {
  position: absolute;
  top:0;
/*  left: 15px;*/
}
.gdintvid video  {
  width: 36vw;
  /*border: 0.5px solid white;*/
}
#gdinttitle  {
  top: 20.82vw;
}
/*#cuervowrapper  {
  position: absolute;
  margin-top: calc(260px + 151vw);
}
.cuervobg img  {
  position: absolute;
  width: 36vw;
}
.cuervovid  {
  position: absolute;
  margin-top: 2.3vw;
}
.cuervovid video  {
  width: 33.74vw;
}
#cuervotitle  {
  top: 21.9vw;
}*/
#cuervo  {
  position: absolute;
  top: calc(260px + 151vw);
  width: 36vw;
  z-index: 3;
}
#cuervogif  {
  position: absolute;
  width: 36vw;
  top: 0;
  left: 0;
}
#cuervo img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
.cuervorollover  {
  position: absolute;
  width: 33.76vw;
  /*left: 0.85vw;*/
  top: 2.225vw;
  opacity: 0;
}
#cuervo:hover .cuervorollover  {
  opacity: 1;
}
#cuervotitle {
  top: 21.9vw;
  left: 0;
}
#telstrawrapper  {
  position: absolute;
  top: calc(260px + 188vw);
}
.ninetofive #telstrawrapper  {
  position: absolute;
  top: calc(160px + 139vw);
  left: 10vw; 
}
/*#telstrawrapper  {
  position: absolute;
  display: block;
  object-fit: contain;
  top: calc(260px + 188vw);
  width: 36vw;
}*/
.telstravid  {
  position: absolute;
  top:0;
  width: 36vw;
/*  left: 15px;*/
}
.telstravid video  {
  width: 100%;
  /*border: 0.5px solid white;*/
}
#telstratitle  {
  top: 20.82vw;
}

.bottom  {
  position: absolute;
  top: calc(260px + 265vw);
  left: 0px;
  width: 100%;
  height: 100px;
  /*border: 1px solid black;*/
  text-align: center;
  line-height: 20px;
}
@media only screen 
  and (min-device-width: 320px) 
    and (max-device-width: 1024px)
/*  and (max-device-width: 480px)
*/  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

#thornewrapper  {
  width:; 320px;

  .logocontainer  {
  margin-left: 25px;
  margin-right: 100px;
  /*max-width: 1300px;*/
  min-width: 200px;
  margin-top: calc(34vh + 60px);
  /*padding-right: 50px;*/
   /*border: 1px solid black;*/
}
#logo {
  float: right;
  margin-right: -150px;
  /*font-size: 44px;*/
  font-size: 4.5vh;
  /*width: 350px;
    height: 90px;*/
    width: 30vh;
    height: 6.5vh;
    padding: 20px;
  border: 5px solid black;
  transform: translate(-50%, -100%);
    transform: rotate(90deg);
}


