@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            /*width: 22px;*/
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
/*  width: 80%;*/
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  /*background-color: red;*/
}
#preloader {
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:999; /* makes sure it stays on top */
}

#status {
    /*width:80px;
    height:80px;*/
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    /*background-image:url(loading2.gif);  path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-40px 0 0 -40px; /* is width and height divided by two */
}
#status img  {
   width:80px;
  height:80px;
  
}
/*/*/*div#content {
  z-index: 300;
    /*display: none;*/
    }
.menucontainer  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
/*  border: 1px solid black;*/
}
.menu {
  display: flex;
  justify-content: space-around;
  margin: 20px 70px;
  /*border: 1px solid black;*/
/*  background-color: red;*/
}
.menuitems a  {
  list-style-type: none;
  color: black;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
}
.menuitems a:hover  {
  font-style: italic;
}
.logowrapper  {
  position: fixed;
  width: 100%;
}
.logocontainer  {
  margin-left: 50px;
  margin-right: 50px;
  /*max-width: 1300px;*/
  min-width: 400px;
  margin-top: 280px;
  /*padding-right: 50px;*/
   /*border: 1px solid black;*/
}
#logo {
  float: right;
  margin-right: -100px;
  font-size: 44px;
  width: 350px;
    height: 90px;
    padding: 20px;
  border: 5px solid black;
  transform: translate(-50%, -100%);
    transform: rotate(90deg);
}
.outer-container  {
	z-index: 100;
	margin-left: 50px;
	margin-right: 50px;
  /*border: 1px solid black;*/
}
.flex-container {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 90%;
    margin-left: 46px;
    background-color: grey;
}
.flex-item {
    min-width: 320px;
    margin-left: 33px;
     margin-right: 33px;
    /*margin-right: 27px;*/
    /*border: 1px solid black;*/
}
.subtitles  {
  position: relative;
  display: inline-block;
  list-style-type: none !important;
  text-decoration: none;
    line-height: 15px;
    margin-top: -3px;
  /*margin-top: 10px;
  left: 0px;*/
  font-size: 10px;
  text-transform: uppercase;
  color: #000000;
  /*z-index: 6;*/
}

/*.infinitewrapper  {
  position: absolute;
  margin-top: 210px;
  margin-left: 450px;
}*/

#bytheinfinite  {
  position: absolute;
  display: block;
  object-fit: contain;
/*  width: 320px;
  height: 180px;*/
  top: 200px;
  left: 200px;
  /*border: 1px solid black;*/
 
}
.infinitebg  {
  position: relative;
  top: 0;
  left: 0;
}
.infinitevid  {
/*  position: relative;
  top: -405px;
  left: 60px;*/
   position: absolute;
  top:0;
  left: 60px;
}
.bytheinifinite video  {
  /*position: absolute;*/
/*  margin-top: -220px
  margin-left: -20px;*/
  
}
/*#bytheinfinite:hover .rollover  {
   opacity: 1;
}
#infinitetitle  {
  top: 7px;
  left: 0px;
}*/
