@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            /*width: 22px;*/
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
/*  width: 80%;*/
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  /*background-color: red;*/
}
#preloader {
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:999; /* makes sure it stays on top */
}

#status {
    /*width:80px;
    height:80px;*/
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    /*background-image:url(loading2.gif);  path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-40px 0 0 -40px; /* is width and height divided by two */
}
#status img  {
   width:80px;
  height:80px;
  
}
/*/*/*div#content {
  z-index: 300;
    /*display: none;*/
    }
.menucontainer  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
/*  border: 1px solid black;*/
}
.menu {
  display: flex;
  justify-content: space-around;
  margin: 20px 70px;
  /*border: 1px solid black;*/
/*  background-color: red;*/
}
.menuitems a  {
  list-style-type: none;
  color: black;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
}
.menuitems a:hover  {
  font-style: italic;
}
.logowrapper  {
  position: fixed;
  width: 100%;
}
.logocontainer  {
  margin-left: 50px;
  margin-right: 50px;
  /*max-width: 1300px;*/
  min-width: 400px;
  margin-top: 280px;
  /*padding-right: 50px;*/
   /*border: 1px solid black;*/
}
#logo {
  float: right;
  margin-right: -100px;
  font-size: 44px;
  width: 350px;
    height: 90px;
    padding: 20px;
  border: 5px solid black;
  transform: translate(-50%, -100%);
    transform: rotate(90deg);
}

/*The below affects every thumbnail on rollover*/
.outer-container  {
	z-index: 100;
	/*margin-left: 50px;*/
	/*margin-right: 50px;*/
  border: 1px solid black;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 95%;
    /*margin-left: 26px;*/
     border: 1px solid black;
  /*  background-color: grey;*/
}
.flex-item {
    min-width: 480px;
    margin-left: 50px;
     margin-right: 50px;
    /*margin-right: 27px;*/
    border: 1px solid black;
}
.rollover {
  /*display: block;*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  background-color: rgba(0,0,0,.35);
  opacity: 1;
  color: white;
}
.rollover span {
  margin-top: 250px;
  margin-left: 100px;
  /*text-align: center;*/
  /*text-align: text-bottom;*/
  /*padding-top: 10px;
  padding-left: 10px;*/
  font-size: 30px;
  /*font-style: italic;*/
  font-weight: 300;
  line-height: 30px;
  z-index: 100;
}
.rollover img  {
  display: block;
  position: relative;
  width: 100%;
  object-fit: contain;
  top: 0px;
  left: 0px;
  z-index: 7;
}
.rolloverpic img  {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  object-fit: contain;
   z-index: 3;
}
.subtitles  {
	position: relative;
	display: inline-block;
	list-style-type: none !important;
	text-decoration: none;
    line-height: 15px;
    margin-top: -3px;
	/*margin-top: 10px;
	left: 0px;*/
	font-size: 10px;
	text-transform: uppercase;
	color: #000000;
	/*z-index: 6;*/
}

/*Items in Flex-item 1*/


#thorne  {
  position: absolute;
  margin-top: 120px;
  margin-left: 5vw;
}
.thornegif  {
  position: relative;
  width: 35vw;
  top: 0px;
  left: 0px;
}
#thorne img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#thorne:hover .rollover  {
   opacity: 0;
}
#thornetitle  {
  top: 7px;
  left: 0px;
}

#bytheinfinite  {
  position: absolute;
  margin-top: 720px;
  margin-left: 50px;
}
.infinitepic  {
  position: relative;
  width: 480px;
  top: 0px;
  left: 0px;
  border: 1px solid #EBEBEB;
}
#bytheinfinite img  {
  display: block;
  width: 100%;
  object-fit: contain;
/*  opacity: 0;*/
  /*z-index: 4;*/
}
#bytheinfinite:hover .rollover  {
   opacity: 1;
}
#infinitetitle  {
  top: 7px;
  left: 0px;
}

#subsub  {
  position: absolute;
  margin-top: 1090px;
  margin-left: 0px;
}
#subsubpic {
  position: relative;
  width: 480px;
  top: 0;
  left: 0;
  z-index: 6;
  /*border: 1px solid #BABABA;*/
}
#subsub img  {
  width: 100%;
  display: block;
  object-fit: contain;
}
#subsub:hover .subrollover  {
   opacity: 1;
}
#subsubtitle  {
  top: 7px;
  left: 0px;
}
#paypal  {
  position: absolute;
  margin-top: 1600px;
  margin-left: 0px;
}
#ppgif  {
  position: relative;
  width: 320px;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 3;
}
#paypal img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
.pprollover  {
  position: absolute;
  margin-top: -232.5px;
  margin-left: 0px;
  width: 320px;
  /*background-color: rgba(0,0,0,.8);*/
  opacity: 0;
  z-index: 4;
}
#paypal:hover .pprollover  {
   opacity: 1;
}
#paytitle  {
  top: 7px;
  left: 30px;
}

/*Items in flex-item 2*/

#boosta  {
  position: absolute;
  display: block;
  object-fit: contain;
  top: 245px;
  left: 660px; 
  width: 480px;
  /*border: 1px solid black;*/
}
.boostbg  {
  position: absolute;
  top: 0;
  left: 0;
}
.boostbg img  {
  width: 480px;
}
.boostvid  {
  position: absolute;
  top:0;
  left: 45px;
}

/*#boostb  {
  position: absolute;
  margin-top: 400px;
  margin-left: -0px;
}
#boostgif  {
  width: 480px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#boostb img  {
  display: block;
  width: 100%;
}
.boostrollover  {
  position: absolute;
  margin-top: -204px;
  margin-left: 32px;
  width: 266px;
  background-color: rgba(0,0,0,.8);
  opacity: 0;
  z-index: 4;
}
#boost:hover .boostrollover  {
   opacity: 1;
}
#boosttitle  {
  top: 7px;
  left: 0px;
}*/

#mixionary {
  position: absolute;
  margin-top: 920px;
  margin-left: 0px;
}
#mixpic1  {
  position: relative;
  width: 540px;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 6;
}
#mixionary img {
  display: block;
  width: 100%;
  object-fit: contain;
}
#mixtitle  {
  top: 7px;
  left: 0px;
}
#gdinterviews  {
  position: absolute;
  margin-top: 700px;
  margin-left: 0px;
}
.gdintpic  {
  position: relative;
  width: 320px;
  top: 0px;
  left: 0px;
  border-top: 0.03vw solid #adadad;
}
#gdinterviews img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#gdinterviews:hover .rollover  {
   opacity: 1;
}
#gdinttitle  {
  top: 7px;
  left: 0px;
}
#cuervo  {
  position: absolute;
  margin-top: 1030px;
  z-index: 3;
}
#cuervogif  {
  position: relative;
  width: 320px;
  top: 0;
  left: 0;
}
#cuervo img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
.cuervorollover  {
  position: absolute;
  margin-top: -189px;
  margin-left: 20px;
  width: 300px;
/*  border: 1px solid blue;*/
/*  box-sizing: border-box;*/
  opacity: 0;
  z-index: 4;
}
#cuervo:hover .cuervorollover  {
  opacity: 1;
}
#cuervotitle {
  top: 7;
  left: 0;
}
#telstra  {
  position: absolute;
  margin-top: 1365px;
  margin-left: 0px;
}
.telpic  {
  position: relative;
  width: 320px;
  top: 0;
  left: 0;
}
#telstra img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#telstra:hover .rollover  {
   opacity: 1;
}
#teltitle  {
  top: 7px;
  left: 0px;
}
.bottom  {
  position: absolute;
  top: 1843px;
  left: 0px;
  width: 100%;
  height: 100px;
  /*border: 1px solid black;*/
  text-align: center;
  line-height: 20px;
}
