@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            /*width: 22px;*/
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
/*  width: 80%;*/
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  /*background-color: red;*/
}
#preloader {
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:999; /* makes sure it stays on top */
}

#status {
    /*width:80px;
    height:80px;*/
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    /*background-image:url(loading2.gif);  path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-40px 0 0 -40px; /* is width and height divided by two */
}
#status img  {
   width:80px;
  height:80px;
  
}
/*/*/*div#content {
  z-index: 300;
    /*display: none;*/
    }
.menucontainer  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
/*  border: 1px solid black;*/
}
.menu {
  display: flex;
  justify-content: space-around;
  margin: 20px 70px;
  /*border: 1px solid black;*/
/*  background-color: red;*/
}
.menuitems a  {
  list-style-type: none;
  color: black;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
}
.menuitems a:hover  {
  font-style: italic;
}
.logowrapper  {
  position: fixed;
  width: 100%;
}
.logocontainer  {
  margin-left: 50px;
  margin-right: 50px;
  /*max-width: 1300px;*/
  min-width: 400px;
  margin-top: 280px;
  /*padding-right: 50px;*/
   /*border: 1px solid black;*/
}
#logo {
  float: right;
  margin-right: -100px;
  font-size: 44px;
  width: 350px;
    height: 90px;
    padding: 20px;
  border: 5px solid black;
  transform: translate(-50%, -100%);
    transform: rotate(90deg);
}
.outer-container  {
	z-index: 100;
	margin-left: 50px;
	margin-right: 50px;
  /*border: 1px solid black;*/
}
.flex-container {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 90%;
    margin-left: 46px;
    background-color: grey;
}
.flex-item {
    min-width: 320px;
    margin-left: 33px;
     margin-right: 33px;
    /*margin-right: 27px;*/
    /*border: 1px solid black;*/
}
.rollover {
  /*display: block;*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  /*background-color: rgba(0,0,0,.35);*/
  opacity: 0;
  color: white;
}
.rollover img  {
  display: block;
  position: relative;
  width: 100%;
  object-fit: contain;
  top: 0px;
  left: 0px;
  z-index: 7;
}
.rolloverpic img  {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  object-fit: contain;
   z-index: 3;
}
.subtitles  {
	position: relative;
	display: inline-block;
	list-style-type: none !important;
	text-decoration: none;
    line-height: 15px;
    margin-top: -3px;
	/*margin-top: 10px;
	left: 0px;*/
	font-size: 10px;
	text-transform: uppercase;
	color: #000000;
	/*z-index: 6;*/
}
/*The above affects every thumbnail on rollover*/
/*Items in Flex-item 1*/
#thorne  {
  position: absolute;
  margin-top: 210px;
  margin-left: 0px;
}
.thornegif  {
  position: relative;
  width: 320px;
  top: 0px;
  left: 0px;
}
#thorne img  {
  display: block;
  width: 320px;
  object-fit: contain;
}
#thorne:hover .rollover  {
   opacity: 1;
}
#thornetitle  {
  top: 7px;
  left: 0px;
}
#boost  {
  position: absolute;
  margin-top: 650px;
  /*margin-top: 245px;*/
  /*margin-top: 460px;*/
  margin-left: 0px;
}
#boostgif  {
  width: 320px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#boost img  {
  display: block;
  width: 100%;
/*  object-fit: contain;*/
}
.boostrollover  {
  position: absolute;
  margin-top: -204px;
  margin-left: 32px;
  width: 266px;
  /*background-color: rgba(0,0,0,.8);*/
  opacity: 0;
  z-index: 4;
}
#boost:hover .boostrollover  {
   opacity: 1;
}
#boosttitle  {
  top: 7px;
  left: 0px;
}
#bytheinfinite  {
  position: absolute;
  margin-top: 930px;
  margin-left: 0px;
}
.infinitepic  {
  position: relative;
  width: 320px;
  top: 0px;
  left: 0px;
}
#bytheinfinite img  {
  display: block;
  width: 300px;
  object-fit: contain;
}
#bytheinfinite:hover .rollover  {
   opacity: 1;
}
#infinitetitle  {
  top: 7px;
  left: 0px;
}
#subsub  {
  position: absolute;
  margin-top: 1250px;
  margin-left: 0px;
}
#subsubpic {
  position: relative;
  width: 320px;
  top: 0;
  left: 0;
  z-index: 6;
  /*border: 1px solid #BABABA;*/
}
#subsub img  {
  width: 100%;
  display: block;
  object-fit: contain;
}
#subsub:hover .subrollover  {
   opacity: 1;
}
#subsubtitle  {
  top: 7px;
  left: 0px;
}
#paypal  {
  position: absolute;
  margin-top: 1600px;
  margin-left: 0px;
}
#ppgif  {
  position: relative;
  width: 300px;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 3;
}
#paypal img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
.pprollover  {
  position: absolute;
  margin-top: -232.5px;
  margin-left: 0px;
  width: 300px;
  /*background-color: rgba(0,0,0,.8);*/
  opacity: 0;
  z-index: 4;
}
#paypal:hover .pprollover  {
   opacity: 1;
}
#paytitle  {
  top: 7px;
  left: 30px;
}
/*Items in flex-item 2*/
#seafolly  {
  position: absolute;
  margin-top: 130px;
  margin-left: 0px;
}
.seapic  {
  position: relative;
  width: 320px;
  top: 0px;
  left: 0px;
}
#seafolly img  {
  display: block;
/*  width: 319.5px;*/
width: 320px;
  object-fit: contain;
}
#seafolly:hover .rollover  {
   opacity: 1;
}
#seatitle  {
  top: 8px;
  left: 0px;
}
#exhibitionist  {
  position: absolute;
  margin-top: 460px;
  margin-left: 0px;
}
.exhibishpic  {
  position: relative;
  width: 300px;
  top: 0px;
  left: 0px;
}
#exhibitionist img  {
  display: block;
  width: 300px;
  /*object-fit: contain;*/
}
#exhibitionist:hover .rollover  {
   opacity: 1;
}
#exhibishtitle  {
  top: 7px;
  left: 0px;
}
#housework  {
  position: absolute;
  margin-top: 820px;
  margin-left: 0px;
  /*border: 1px solid #A8A8A8;*/
}
.housepic  {
  position: relative;
  width: 300px;
  top: 0;
  left: 0;
}
#housework img  {
  width: 100%;
  display: block;
  object-fit: contain;
}
#housework:hover .rollover  {
   opacity: 1;
}
#housetitle  {
  top: 7;
  left: 0;
}
#gdexperience  {
  position: absolute;
  margin-top: 1170px;
  margin-left: 0px;
  margin-bottom: 200px;
  /*height: 500px;*/
}
#gdexp  {
  position: relative;
  width: 300px;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 2;
}
#gdexperience img {
  display: block;
  width: 100%;
  object-fit: contain;
}
.gdrollover  {
  position: absolute;
  margin-top: -181px;
  margin-left: 0px;
  width: 272px;
  background-color: rgba(0,0,0,.8);
  opacity: 0;
  z-index: 4;
}
.rolloverpic img  {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  object-fit: contain;
   z-index: 3;
  /*width: 200px !important;*/
}
#gdexperience:hover .gdrollover  {
   opacity: 1;
}
#gdexptitle  {
  top: 7px;
  left: 23px;
}
#archive  {
  width: 300px;
  position: absolute;
  margin-top: 1415px;
  margin-left: 0px;
}
#archive img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#archive:hover .rollover  {
   opacity: 1;
}
#archivetitle  {
	top: 7;
	left: 0;
}
/*Items in flex-item 3*/
#mixionary {
  position: absolute;
  margin-top: 220px;
  margin-left: 0px;
}
#mixpic1  {
  position: relative;
  width: 320px;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 6;
}
#mixionary img {
  display: block;
  width: 100%;
  object-fit: contain;
}
#mixtitle  {
  top: 7px;
  left: 0px;
}
#gdinterviews  {
  position: absolute;
  margin-top: 700px;
  margin-left: 0px;
}
.gdintpic  {
  position: relative;
  width: 300px;
  top: 0px;
  left: 0px;
}
#gdinterviews img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#gdinterviews:hover .rollover  {
   opacity: 1;
}
#gdinttitle  {
  top: 7px;
  left: 0px;
}
#cuervo  {
  position: absolute;
  margin-top: 1030px;
  z-index: 3;
}
#cuervogif  {
  position: relative;
  width: 300px;
  top: 0;
  left: 0;
}
#cuervo img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
.cuervorollover  {
  position: absolute;
  margin-top: -177px;
  margin-left: 19px;
  width: 281px;
/*  border: 1px solid blue;*/
/*  box-sizing: border-box;*/
  opacity: 0;
  z-index: 4;
}
#cuervo:hover .cuervorollover  {
  opacity: 1;
}
#cuervotitle {
  top: 7;
  left: 0;
}
#telstra  {
  position: absolute;
  margin-top: 1365px;
  margin-left: 0px;
}
.telpic  {
  position: relative;
  width: 300px;
  top: 0;
  left: 0;
}
#telstra img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#telstra:hover .rollover  {
   opacity: 1;
}
#teltitle  {
  top: 7px;
  left: 0px;
}
.bottom  {
  position: absolute;
  top: 1843px;
  left: 0px;
  width: 100%;
  height: 100px;
  /*border: 1px solid black;*/
  text-align: center;
  line-height: 20px;
}
@media (max-width: 1050px) {
.flex-container {
    margin-left: 10px;
  }
.flex-item {
    min-width: 150px;
    margin-left: 7px;
    margin-right: 7px;
    /*border: 1px solid black;*/
}
.outer-container  {
  z-index: 100;
  margin-left: 80px;
  margin-right: 280px;
}
#logo {
  margin-right: -70px;
  font-size: 32px;
  width: 250px;
  height: 60px;
}
#thorne  {
    margin-top: 140px;
    margin-left: 20px;
}
#exhibitionist  {
    margin-top: 540px;
    margin-left: -170px;
}
#seafolly  {
    margin-top: 940px;
    margin-left: 245px;
}
#mixionary  {
  margin-top: 190px;
  margin-left: 60px;
}
#gdexperience  {
    margin-top: 630px;
    margin-left: 245px;
}
#boost  {
    margin-top: 795px;
    margin-left: 20px;
}
#bytheinfinite {
    margin-top: 1090px;
    margin-left: 20px;
}
#sicklove  {
    margin-top: 1060px;
    margin-left: 20px;
}
#subsub  {
  margin-top: 1360px;
  margin-left: 20px;
}
#paypal  {
    margin-top: 1700px;
    margin-left: 20px; 
}
#gdinterviews  {
    margin-top: 1230px;
    margin-left: 60px;
}
#cuervo  {
    margin-top: 1510px;
    margin-left: 60px;
}
#housework  {
    margin-top: 1690px;
    margin-left: -170px;
}
#telstra  {
    margin-top: 1830px;
    margin-left: 60px;
}
#lap  {
  margin-top: 2350px;
    margin-left: -170px;
}
#ikea  {
  margin-top: 2300px;
  margin-left: 60px;
}
#usyd  {
  margin-top: 2130px;
  margin-left: 60px;
}
#archive  {
  margin-top: 2030px;
  /*margin-left: 260px;*/
}
.bottom  {
  top: 2600px;
}
.subtitles  {
  font-size: 13px;
}



@media only screen 
  /*and (min-device-width: 320px) */
    and (max-device-width: 1024px)
/*  and (max-device-width: 480px)
*/  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
.flex-container {
    margin-left: 10px;
  }
.flex-item {
    min-width: 150px;
    margin-left: 7px;
    margin-right: 7px;
    /*border: 1px solid black;*/
}
.outer-container  {
	z-index: 100;
	margin-left: 80px;
	margin-right: 280px;
}
#logo {
  margin-right: -70px;
  font-size: 32px;
  width: 250px;
  height: 60px;
}
#thorne  {
    margin-top: 140px;
    margin-left: 20px;
}
#exhibitionist  {
    margin-top: 540px;
    margin-left: -170px;
}
#seafolly  {
  	margin-top: 940px;
    margin-left: 245px;
}
#mixionary  {
	margin-top: 190px;
	margin-left: 60px;
}
#gdexperience  {
    margin-top: 630px;
    margin-left: 245px;
}
#boost  {
  	margin-top: 795px;
  	margin-left: 20px;
}
#bytheinfinite {
    margin-top: 1090px;
    margin-left: 20px;
}
#sicklove  {
    margin-top: 1060px;
    margin-left: 20px;
}
#subsub  {
  margin-top: 1360px;
  margin-left: 20px;
}
#paypal  {
    margin-top: 1700px;
    margin-left: 20px; 
}
#gdinterviews  {
  	margin-top: 1230px;
  	margin-left: 60px;
}
#cuervo  {
  	margin-top: 1510px;
  	margin-left: 60px;
}
#housework  {
  	margin-top: 1690px;
  	margin-left: -170px;
}
#telstra  {
  	margin-top: 1830px;
  	margin-left: 60px;
}
#lap  {
 	margin-top: 2350px;
  	margin-left: -170px;
}
#ikea  {
  margin-top: 2300px;
  margin-left: 60px;
}
#usyd  {
	margin-top: 2130px;
	margin-left: 60px;
}
#archive  {
	margin-top: 2030px;
	/*margin-left: 260px;*/
}
.bottom  {
	top: 2600px;
}
.subtitles  {
	font-size: 13px;
}
}



@media only screen 
  and (min-device-width: 500px) 
    and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

.flex-container {
    margin-left: 10px;
  }
.flex-item {
    min-width: 150px;
    margin-left: 7px;
    margin-right: 7px;
    /*border: 1px solid black;*/
}
.outer-container  {
  z-index: 100;
  margin-left: 80px;
  margin-right: 280px;
}
.logocontainer  {
  margin-top: 200px;
  /*padding-right: 50px;*/
   /*border: 1px solid black;*/
 }
#logo {
  margin-right: -70px;
  font-size: 32px;
  width: 250px;
  height: 60px;
  }
#thorne  {
    margin-top: 140px;
    margin-left: 20px;
}
#exhibitionist  {
    margin-top: 540px;
    margin-left: -170px;
}
#seafolly  {
    margin-top: 940px;
    margin-left: 245px;
}
#mixionary  {
  margin-top: 190px;
  margin-left: 60px;
}
#gdexperience  {
    margin-top: 630px;
    margin-left: 245px;
}
#boost  {
    margin-top: 795px;
    margin-left: 20px;
}
#bytheinfinite {
    margin-top: 1090px;
    margin-left: 20px;
}
#sicklove  {
    margin-top: 1060px;
    margin-left: 20px;
}
#subsub  {
  margin-top: 1360px;
  margin-left: 20px;
}
#paypal  {
    margin-top: 1700px;
    margin-left: 20px; 
}
#gdinterviews  {
    margin-top: 1230px;
    margin-left: 60px;
}
#cuervo  {
    margin-top: 1510px;
    margin-left: 60px;
}
#housework  {
    margin-top: 1690px;
    margin-left: -170px;
}
#telstra  {
    margin-top: 1830px;
    margin-left: 60px;
}
#lap  {
  margin-top: 2350px;
    margin-left: -170px;
}
#ikea  {
  margin-top: 2300px;
  margin-left: 60px;
}
#usyd  {
  margin-top: 2130px;
  margin-left: 60px;
}
#archive  {
  margin-top: 2030px;
  /*margin-left: 260px;*/
}
.bottom  {
  top: 2450px;
}
.subtitles  {
  font-size: 13px;
}
}