@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            width: 22px;
  background-color: FFFFFF;
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

div#preloader { 
	position: fixed; 
	left: 0; 
	top: 0; 
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: #FFFFFF url('http://files.mimoymima.com/images/loading.gif') no-repeat center center; 
}
.menucontainer  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
/*  border: 1px solid black;*/
}
.menu {
  display: flex;
  justify-content: space-around;
  margin: 20px 70px;
  /*border: 1px solid black;*/
}
.menuitems a  {
  list-style-type: none;
  color: black;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
}
.menuitems a:hover  {
  font-style: italic;
}
.sidecontainer  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
/*  border: 1px solid black;*/
}
.sidewrapper  {
  width: 1000px;
  /*border: 1px solid black;*/
  margin-left: auto;
  margin-right: auto;
}
#sideways  {
  font-size: 44px;
  margin-top: 280px;
  margin-left: 850px;
  width: 350px;
  height: 90px;
  padding: 20px;
  transform: translate(-50%, -100%);
  transform: rotate(90deg);
  color: black;
  border: 5px solid black;
}
.workcontainer  {
  position: absolute;
  top: 0;
  width: 100%;
/*  border: 1px solid black;*/
}
.workwrapper  {
 /* display: block;
  top: 0;*/
  width: 1200px;
  /*height: 2400px;*/
  /*border: 1px solid black;*/
  margin-left: auto;
  margin-right: auto;
}
/* The following affects every thumbnail on rollover */
.rollover {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  /*background-color: rgba(0,0,0,.35);*/
  opacity: 0;
  color: white;
  z-index: 8;
}
.rollover span {
  text-align: text-bottom;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 13px;
  /*font-style: italic;*/
  font-weight: 300;
  line-height: 13px;
  z-index: 100;
}
#title  {
  /*font-style: normal;*/
}
.rollover img  {
  display: block;
  position: absolute;
  width: 100%;
  object-fit: contain;
  top: 0px;
  left: 0px;
  /*z-index: 7;*/
}
.subtitles  {
	position: relative;
	display: list-item;
	list-style-type: none;
	/*text-decoration: none;*/
	/*text-decoration-color: black;*/
	top: 20px;
	left: 0px;
	font-size: 10px;
	text-transform: uppercase;
	color: #000000;
	/*z-index: 6;*/
}
/*The above affects every thumbnail on rollover*/
#gdexperience  {
  position: absolute;
  margin-top: 200px;
  margin-left: 0px;
}
#gdexp1  {
  position: relative;
  width: 250px;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 8;
}
#gdexp2  {
  position: relative;
  width: 250px;
  margin-top: -130px;
  margin-left: 10px;
  z-index: 7;
}
#gdexp3  {
  position: relative;
  width: 250px;
  margin-top:  -130px;
  margin-left: 20px;
  border-left: 1px solid #BABABA;
  border-bottom: 1px solid #BABABA;
  z-index: 6;
}
#gdexp4  {
  position: relative;
  width: 100px;
  margin-top: -170px;
  margin-left: 70px;
  z-index: 5;
}
#gdexp5  {
  position: relative;
  width: 100px;
  margin-top: -150px;
  margin-left: 90px;
  z-index: 3;
}
#gdexp6  {
  position: relative;
  width: 100px;
  margin-top: -115px;
  margin-left: 105px;
  z-index: 4;
}
#gdexperience img {
  display: block;
  width: 100%;
  object-fit: contain;
}
#gdexperience:hover .rollover  {
   opacity: 1;
}
#seafolly  {
  width: 250px;
  position: absolute;
  margin-top: 130px;
  margin-left: 420px;
}
#seafolly img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#seafolly:hover .rollover  {
   opacity: 1;
}
#mixionary {
  position: absolute;
  margin-top: 290px;
  margin-left: 820px;
}
#mixpic1  {
  position: relative;
  width: 200px;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 6;
}
#mixpic2  {
  position: relative;
  width: 150px;
  margin-top: -273px;
  margin-left: 60px;
  z-index: 5;
}
#mixpic3  {
  position: relative;
  width: 150px;
  margin-top: -200px;
  margin-left: 70px;
  z-index: 4;
}
#mixpic4  {
  position: relative;
  width: 150px; 
  margin-top: -200px;
  margin-left: 80px;
  z-index: 3;
}
#mixpic5  {
  position: relative;
  width: 150px;
  margin-top: -200px;
  margin-left: 90px;
  z-index: 2;
}
#mixpic6  {
  position: absolute;
  width: 265px;
  margin-top: -200px;
  margin-left: -18px;
  border: 1px solid #BABABA;
  z-index: 1;
}
#mixionary img {
  display: block;
  width: 100%;
  object-fit: contain;
}
#mixionary:hover .rollover  {
   opacity: 1;
}
#boost  {
  width: 250px;
  position: absolute;
  margin-top: 500px;
  margin-left: 435px;
}
#boostmary  {
  width: 250px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 7;
}
#boostben  {
  position: relative;
  width: 250px;
  margin-top: -130px;
  margin-left: 10px;
  z-index: 6;
}
#boostsaff  {
  position: relative;
  width: 250px;
  margin-top: -130px;
  margin-left: 20px;
   z-index: 5;
}
#boostprint1  {
  width: 200px;
  position: relative;
  margin-top: -130px;
  margin-left: -10px;
   z-index: 4;
}
#boostprint2  {
  width: 200px;
  position: relative;
  margin-top: -130px;
  margin-left: -20px;
   z-index: 3;
}
#boostprint3  {
  width: 200px;
  position: relative;
  margin-top: -130px;
  margin-left: -30px;
   z-index: 2;
}
#boost img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#boost:hover .rollover  {
   opacity: 1;
}
#ikeapillow  {
  width: 250px;
  position: absolute;
  margin-top: 450px;
  margin-left: 50px;
}
#ikeapillow img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#ikeapillow:hover .rollover  {
   opacity: 1;
}
#gdinterviews  {
  width: 250px;
  position: absolute;
  margin-top: 700px;
  margin-left: 850px;
}
#gdinterviews img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#gdinterviews:hover .rollover  {
   opacity: 1;
}
#tf2  {
  position: absolute;
  margin-top: 710px;
  margin-left: -50px;
}
#tf2pic1  {
  position: relative;
  width: 160px;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 4;
}
#tf2pic2  {
  position: relative;
  width: 160px;
  margin-top: -216px;
  margin-left: 10px;
  z-index: 3;
}
#tf2pic3  {
  position: relative;
  width: 160px;
  margin-top: -214px;
  margin-left: 20px;
  z-index: 2;
}
#tf2pic4  {
  position: absolute;
  width: 160px;
  margin-top: -215px;
  margin-left: 30px;
  z-index: 1;
}
#tf2 img {
  display: block;
  width: 100%;
  object-fit: contain;
}
#tf2:hover .rollover  {
   opacity: 1;
}
#subsub  {
  width: 250px;
  position: absolute;
  margin-top: 740px;
  margin-left: 325px;
}
#subsub img  {
  width: 100%;
  display: block;
  object-fit: contain;
}
#subsub:hover .rollover  {
   opacity: 1;
}
#telstra  {
  width: 300px;
  position: absolute;
  margin-top: 750px;
  margin-left: 850px;
}
#telstra img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#telstra:hover .rollover  {
   opacity: 1;
}
*/placeholder for 48hr film fest*/
#ubank  {
  width: 250px;
  position: absolute;
  margin-top: 1040px;
  margin-left: 130px;
}
#ubskater  {
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 7;
}
#ubactress  {
  position: relative;
  width: 250px;
  margin-top: -130px;
  margin-left: -9px;
  z-index: 6;
}
#ubank img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#ubank:hover .rollover  {
   opacity: 1;
}
#paypal  {
  width: 200px;
  position: absolute;
  margin-top: 1080px;
  margin-left: 980px;
}
#ppwind  {
  position: relative;
  width: 200px;
  margin-top: 0px;
  margin-left: 0px;
  border: 1px solid #BABABA;
  z-index: 7;
}
#ppoverseas  {
  position: relative;
  width: 200px;
  margin-top: -160px;
  margin-left: -9px;
  z-index: 6;
}
#ppchain  {
  position: relative;
  width: 200px;
  margin-top: -158px;
  margin-left: -20px;
  border: 1px solid #BABABA;
  z-index: 5;
}
#ppfan  {
  position: relative;
  width: 200px;
  margin-top: -160px;
  margin-left: -28px;
  z-index: 4;
}
#paypal img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#paypal:hover .rollover  {
   opacity: 1;
}
#gdseeing  {
  width: 250px;
  position: absolute;
  margin-top: 1250px;
  margin-left: 15px;
  z-index: 3;
}
#gdseeing img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#gdseeing:hover .rollover  {
   opacity: 1;
}
#housework  {
  width: 250px;
  position: absolute;
  margin-top: 12600px;
  margin-left: 520px;
  border: 1px solid #A8A8A8;
}
#housework img  {
  width: 100%;
  display: block;
  object-fit: contain;
}
#housework:hover .rollover  {
   opacity: 1;
}
#adsmydadsays  {
  width: 200px;
  position: absolute;
  margin-top: 1560px;
  margin-left: 460px;
  border: 1px solid #A8A8A8;
}
#adsmydadsays img  {
  width: 100%;
  display: block;
  object-fit: contain;
}
#adsmydadsays:hover .rollover  {
   opacity: 1;
}
#usyd  {
  position: absolute;
  list-style-type: none;
  width: 250px;
  margin-top: 200px;
  margin-left: 0px;
}
#usydpic1  {
  position: relative;
  width: 250px;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 5;
}
#usydpic2  {
  position: relative;
  width: 250px;
  margin-top: -150px;
  margin-left: 10px;
  z-index: 4;
}
#usydpic3  {
  position: relative;
  width: 250px;
  margin-top: -150px;
  margin-left: 20px;
  z-index: 3;
}
#usyd img {
  display: block;
  width: 100%;
  object-fit: contain;
}
#usyd:hover .rollover  {
  opacity: 1;
}
/*Placeholder for archive*/
#blackfri  {
  width: 140px;
  position: absolute;
  margin-top: 1080px;
  margin-left: 980px;
}
#blackfri img  {
  display: block;
  width: 100%;
  object-fit: contain;
}
#blackfri:hover .rollover  {
   opacity: 1;
}
#lap  {
  width: 250px;
  position: absolute;
  margin-top: 950px;
  margin-left: 550px;
 /* margin-top: 950px;
  margin-left: 550px;*/
  border: 1px solid #A8A8A8;
}
#lap img  {
  width: 100%;
  display: block;
  object-fit: contain;
}
#lap:hover .rollover  {
   opacity: 1;
}
.bottom  {
  position: absolute;
  margin-top: 2150px;
  margin-left: 340px;
  line-height: 20px;
  width: 400px;
  height: 30px;
  border: 0px solid black;
  padding: 60px;
  text-align: center;
}