@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
  background-color: FFFFFF;
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
.menu  {
  position: fixed;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 5px;
  padding: 10px;
  max-width: 1500px;
  min-width: 900px;
  border: 0px solid black;
  z-index: 10;
}
.menuitems  {
  display: inline;
  width: 200px;
  margin-left: 40px;
  margin-right: 40px;
  border: 0px solid black;
  text-align: center;
}
a  {
  list-style-type: none;
  text-decoration: underline;
  color: black;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
}
.menuitems a:hover  {
  font-style: italic;
}
#sideways  {
  position: fixed;
  font-size: 44px;
  margin-top: 280px;
  margin-left: 900px;
  width: 350px;
  height: 90px;
  padding: 20px;
  transform: translate(-50%, -100%);
  transform: rotate(90deg);
  color: black;
  border: 5px solid black;
  z-index: 0;
}
#details  {
  position: fixed;
  display: block;
  box-sizing: border-box;
  margin-top: 150px;
  margin-left: 50px;
  width: 250px;
  border: 0px solid black;
}
.deets.title  {
  display: block;
  margin-top: -6px;
  font-size: 50px;
  font-weight: 400;
  text-decoration: underline;
}
.deets.description  {
  margin-top: 5px;
  font-size: 32px;
  text-transform: uppercase;
  font-style: italic;
}
.deets.blurb  {
  margin-top: 5px;
  width: 200px;
  font-size: 14px;
}
#container  {
  box-sizing: border-box;
  position: absolute;
  margin-top: 150px;
  width: 660px;
  height: 933px;
  margin-left: 300px;
  border: 0px solid black;
}
#banner-fade  {
  margin-left: auto;
  margin-right: auto;
}
.bjqs-controls .bjqs-prev a {
  margin-left: -50px;
  list-style-type: none;
  text-decoration: none;
  color: #000000;
  font-size: 40px;
}
.bjqs-controls .bjqs-next a {
  margin-right: -50px;
  list-style-type: none;
  text-decoration: none;
  color: #000000;
  font-size: 40px;
}
.bjqs-markers.h-centered a  {
  list-style-type: none;
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  line-height: 35px;
}
#mixboard  {
  position: absolute;
  margin-top: 1200px;
  margin-left: 300px;
  width: 660px;
  height: 100%;
}
#mixboard img  {
  width: 100%;
}
.bottom  {
  position: absolute;
  margin-top: 2250px;
  margin-left: 340px;
  line-height: 20px;
  width: 400px;
  height: 30px;
  border: 0px solid black;
  padding: 60px;
  text-align: center;
}