@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            width: 22px;
  background-color: FFFFFF;
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
.menucontainer  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
/*  border: 1px solid black;*/
}
.menu {
  display: flex;
  justify-content: space-around;
  margin: calc(10px + 1vw) calc(7.5px + 0vw);
  /*border: 1px solid black;*/
}


/*calc(35px + 3.5vw);*/

/*(5px + 3.5vw);*/

.menuitems a  {
  list-style-type: none;
  color: black;
  font-size: calc(8px + 0.8vw);
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
}
.menuitems a:hover  {
  font-style: italic;
}
.deetscontainer  {
  position: absolute;
  top: calc(25px + 6vw);
  left: calc(5px + 4vw);
  width: calc(60px + 13vw);
  max-width: 200px;
  z-index: 0;
  /*border: 1px solid black;*/
}
.deets.title  {
  /*margin-top: -6px;*/
  font-size: calc(10px + 5vw);
  font-weight: 400;
  text-decoration: underline;
}
.deets.category  {
  margin-top: calc(2px + 0.5vw);
  font-size: calc(6px + 3vw);
  text-transform: uppercase;
  font-style: italic;
}
.deets.blurb  {
  margin-top: calc(2px + 0.5vw);
  /*width: 200px;*/
  font-size: calc(8px + 0.7vw);
  line-height: calc(4px + 1.5vw);
  font-style: italic;
  /*border: 1px solid black;*/
}
.workcontainer  {
  position: absolute;
  top: calc(25px + 6vw);
  left: calc(75px + 20vw);
  /*border: 1px solid black;*/
}
.vidcontainer {
  position: relative;
  border: 1px solid black;
  margin-bottom: 5vw;
  width: calc(65vw);
}
.vidwrapper {
  /*border: 1px solid black;*/
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.vidwrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div.gdprint  {
  /*display: block;*/
  /*box-sizing: border-box;*/
  position: relative;
  top: 0vw;
  width: 40vw;
}
#clickimages {
   position: relative;
   font-size: 16px;
   /*top: 0px;*/
   bottom: 1vw;
   font-style: italic;
   z-index: 1000;
}
.gdp {
  position: relative; 
  left: 0vw;
  /*margin-bottom: 5vw;*/
}
.venobox img  {
  width: 100%;
  margin-bottom: 2vw;
  border: 1px solid red;
}

.bottom  {
  position: absolute;
  top: 285vw;
  left: 0px;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 50px;
  /*border: 1px solid black;*/
  text-align: center;
  line-height: 20px;
}

@media only screen 
  and (min-device-width: 320px) 
    and (max-device-width: 1024px)
/*  and (max-device-width: 480px)
*/  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .deetscontainer  {
  position: relative;
  left: 7vw;
  width: calc(60px + 30vw);
  min-width: 300px;
  z-index: 0;
}
.deets.title  {
  font-size: calc(10px + 5vw);
}
.deets.category  {
  margin-top: calc(4px + 0.5vw);
  font-size: calc(8px + 4vw);
}
.deets.blurb  {
  margin-top: calc(4px + 0.5vw);
  font-size: calc(8px + 0.7vw);
  line-height: calc(4px + 1.5vw);
}
.workcontainer  {
  position: relative;
  margin-top: calc(40px + 0.5vw);
  left: 7vw;
}
.vidcontainer {
  width: 84vw;
}

  