@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            width: 22px;
  background-color: FFFFFF;
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
.menucontainer  {
  position: fixed;
  top: 0;
  width: 100%;
/*  border: 1px solid black;*/
}
.menu {
  display: flex;
  justify-content: space-around;
  margin: 20px 70px;
  /*border: 1px solid black;*/
}
.menu a  {
  list-style-type: none;
  text-decoration: underline;
  color: black;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  cursor: pointer;
}
.menuitems a:hover  {
  font-style: italic;
}
.logocontainer {
  position: fixed;
  top: 280;
  right: -65;
  left: 300;
  min-width: 420px;
  padding-left: 300px;
/*  border: 1px solid black;*/
}
#sideways  {
  float: right;
  font-size: 44px;
  width: 350px;
  height: 90px;
  padding: 20px;
  transform: translate(-50%, -100%);
  transform: rotate(90deg);
  color: black;
  border: 5px solid black;
  z-index: 0;
}
.details  {
  position: fixed;
  margin-top: 150px;
  margin-left: 50px;
  width: 240px;
  font-size: 58px;
  font-weight: 400;
  text-decoration: underline;
}
.deets.title  {
  margin-top: -6px;
}
 #copyframe  {
   position: absolute;
   top: 150px;
   left: 280px;
   right: 300px;
   font-size: 13px;
   line-height: 19px;
   font-width: 6px;
   border: 0px solid black;
   min-width: 360px;
   padding-top: -4px;
   padding-right: 13px;
}
span  {
  font-size: 16px;
  text-transform: uppercase;
}
/*#copyframe a  {
    list-style-type: none;
    text-decoration: underline;
    color: black;
}*/
.bottom  {
  margin-top: 50px;
  left: 0px;
  width: 100%;
  height: 120px;
 /* border: 1px solid black;*/
  text-align: center;
  line-height: 20px;
}
