@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            width: 22px;
  background-color: FFFFFF;
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  hyphens: manual;
}
.menucontainer  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
/*  border: 1px solid black;*/
}
.menu {
  display: flex;
  justify-content: space-around;
/*  margin: 20px 70px;*/
 margin: calc(10px + 1vw) calc(7.5px + 0vw);
}
.menuitems a  {
  list-style-type: none;
  color: black;
  font-size: calc(8px + 0.8vw);
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
}
.menuitems a:hover  {
  font-style: italic;
}
.deetscontainer  {
  position: absolute;
  top: calc(25px + 8vw);
  left: calc(5px + 6vw);
  width: calc(50px + 14vw);
  /*padding-right: calc(10px + 0.1vw);*/
  z-index: 0;
  /*border: 1px solid black;*/
}
.deets.title  {
  top: -0.57vw;
  position: relative;
  font-size: calc(10px + 4.7vw);
  font-weight: 400;
  text-decoration: underline;
  /*width: calc(50px + 7vw);*/
  /*border: 1px solid black;*/
}
.deets.category  {
  margin-top: calc(2px + 0.5vw);
  /*margin-top: calc(2px + 11.7vw);*/
  font-size: calc(4px + 2.3vw);
  text-transform: uppercase;
  font-style: italic;
}
.deets.blurb  {
  margin-top: calc(2px + 0.4vw);
  /*font-size: calc(8px + 0.6vw);
  line-height: calc(6px + 1.1vw);*/
   font-size: calc(6px + 0.5vw);
  line-height: calc(2px + 1.3vw);
/*  color: rgb(100, 100, 100);*/
  /*font-style: italic;*/
}
.deets.blurb  a  {
	list-style-type: none;
  	text-decoration: underline;
 	 color: black;
}
.deets.press a {
  list-style-type: none;
  text-decoration: underline;
  color: black;
  /*font-style: italic;*/
  line-height: calc(6px + 1.3vw);
}
.deets.press span  {
  /*font-weight: 600;*/
}
.workcontainer  {
  position: absolute;
  top: calc(25px + 8vw);
  /*left: calc(75px + 24vw);*/
  right: calc(15px + 5vw);
  /*border: 1px solid black;*/
}
.vidcontainer {
  position: relative;
  /*border: 1px solid black;*/
  margin-bottom: 6vw;
  width: 63vw;
}
.vidwrapper {
  /*border: 1px solid black;*/
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.vidwrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gifcontainer {
	position: relative;
	width: 63vw;
	box-sizing: content-box;
	display: flex;
  	justify-content: space-between;
  	margin-bottom: 5vw;
	/*border: 1px solid black;*/
}
.gifwrapper img  {
	position: relative;
	width: 19vw;
	/*margin-bottom: 10vw;*/
}
.descriptor  {
	margin-top: 0.7vw;
	/*object-position: center;*/
	font-size: calc(8px + 0.5vw);
  	line-height: calc(11px + 1.1vw);
}
#respiratory  {
	border-top: 1px solid black;
	/*margin-right: 10px;*/
}
#circulatory {
	border-top: 0.05px solid black;
}
#nervous  {
	border-top: 1px solid black;
}
.selfiecontainer {
	margin-top: 3vw;
	position: relative;
	width: 63vw;
	box-sizing: content-box;
	display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.selfiecontainer img {
/*  position: relative;*/
  width: 15vw;
  margin-bottom: 0.5vw;
}
.selfietitle  {
	position: relative;
	width: 28vw;
	margin-top: 0.5vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4vw;
	text-align: center;
	font-size: calc(9px + 0.5vw);
  	line-height: calc(10px + 1.1vw);
  	/*background-color: red;*/
}

.webappcontainer {
	position: relative;
	width: 63vw;
}
.webappwrapper {
	float: left;
/*	width: 40vw;*/

}
.webappwrapper img  {
	width: 45vw;
}
.webappblurb  {
	float: left;
	width: 15.5vw;
	font-size: calc(9px + 0.5vw);
  	line-height: calc(10px + 1.1vw);
  	margin-top: 5vw;
/*  	margin-left: 1vw;*/
  	padding: 1vw;
  	/*background-color: red;*/

}
.images  {
  position: relative;
  margin-bottom: 2vw;
  width: 63vw;
}
.images img {
  width: 45%;
}
.bottom  {
  position: absolute;
  top: calc(10px + 155vw);
  left: 0px;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 20px;
}
@media only screen 
  and (min-device-width: 320px) 
    and (max-device-width: 1024px)
/*  and (max-device-width: 480px)
*/  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.deetscontainer  {
  top: calc(50px + 12vw);
  position: relative;
  left: 7vw;
  width: calc(60px + 80vw);
  min-width: 200px;
  z-index: 0;
}
.deets.title  {
  font-size: calc(10px + 5vw);
}
/*.deetstitlemob {
  opacity: 1;
}*/
.deets.category  {
  margin-top: calc(10px + 0.8vw);
  /*margin-top: 13vw;*/
  font-size: calc(5px + 1vw);
  /*font-size: calc(8px + 2vw);*/
  /*max-width: 600px;*/
}
.deets.blurb  {
  margin-top: calc(4px + 0.5vw);
  font-size: calc(6px + 0.4vw);
  line-height: calc(4px + 1vw);
  width: 50vw;
}
.workcontainer  {
  position: relative;
  margin-top: calc(145px + 0.5vw);
  left: 7vw;
}
.vidcontainer {
  width: 84vw;
}
.pic  {
  margin-bottom: 3vw;
  width: 84vw;
}
.bottom  {
 top: 3200px;
}
}
@media only screen 
  and (min-device-width: 500px) 
    and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.deetscontainer  {
  top: calc(25px + 5vw);
}
.workcontainer  {
  top: calc(25px + 5vw);
}
}