@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            width: 22px;
  background-color: FFFFFF;
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
.menucontainer  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
/*  border: 1px solid black;*/
}
.menu {
  display: flex;
  justify-content: space-around;
  margin: 20px 70px;
  /*border: 1px solid black;*/
}
.menuitems a  {
  list-style-type: none;
  color: black;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
}
.menuitems a:hover  {
  font-style: italic;
}
/*#sideways  {
  position: fixed;
  font-size: 44px;
  margin-top: 280px;
  margin-left: 900px;
  width: 350px;
  height: 90px;
  padding: 20px;
  transform: translate(-50%, -100%);
  transform: rotate(90deg);
  color: black;
  border: 5px solid black;
  z-index: 0;
}*/
.deetscontainer  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
  /*border: 1px solid black;*/
}
.deetswrapper  {
  width: 1400px;
  border: 1px solid black;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
}
#details  {
  float: left;
  display: block;
  margin-top: -5px;
  box-sizing: border-box;
  margin-top: 150px;
  margin-left: 80px;
  width: 250px;
  /*border: 1px solid black;*/
}
.deets.title  {
  margin-top: -6px;
  font-size: 50px;
  font-weight: 400;
  text-decoration: underline;
}
.deets.description  {
  margin-top: 11px;
  font-size: 32px;
  text-transform: uppercase;
  font-style: italic;
}
.deets.blurb  {
  margin-top: 11px;
  width: 210px;
  font-size: 14px;
  line-height: 21px;
  font-style: italic;
}
.workcontainer  {
  position: absolute;
  top: 0;
  width: 100%;
  /*border: 1px solid black;*/
}
.workwrapper  {
 /* display: block;
  top: 0;*/
  width: 1250px;
  /*height: 2400px;*/
  /*border: 1px solid black;*/
  margin-left: auto;
  margin-right: auto;
}
#usyd  {
  position: absolute;
  margin-top: 150px;
  margin-left: 320px;
}
.us iframe {
  width: 720px;
  height: 405px;
}
.us.sweetfighter  {
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
}
.us.robocrop  {
  position: relative;
  margin-top: 15px;
  margin-left: 0px;
}
.us.bioastro  {
  position: relative;
  margin-top: 15px;
  margin-left: 0px;
}
.bottom  {
  position: absolute;
  margin-top: 1600px;
  margin-left: 340px;
  line-height: 20px;
  width: 400px;
  height: 30px;
  border: 0px solid black;
  padding: 60px;
  text-align: center;
}