@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            width: 22px;
  background-color: FFFFFF;
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
.menucontainer  {
  position: fixed;
  top: 0;
  width: 100%;
/*  border: 1px solid black;*/
}
.menu {
  display: flex;
  justify-content: space-around;
  margin: 20px 70px;
/* margin: calc(10px + 1vw) calc(7.5px + 0vw);*/
/*  margin: calc(10px + 1vw) calc(7.5px + 0.3vw);*/
}
.menuitems a  {
  list-style-type: none;
  color: black;
  font-size: calc(8px + 0.55vw);
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
}
.menuitems a:hover  {
  font-style: italic;
}
.details  {
  position: fixed;
  margin-top: 150px;
  margin-left: 50px;
  width: 240px;
  font-size: 58px;
  font-weight: 400;
  text-decoration: underline;
}
.deets.title  {
  margin-top: -6px;
}
#vitalcontainer  {
  position: absolute;
  top: 150px;
  left: 250px;
  right: 150px;
}
.category {
  height: 50px;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  text-decoration: underline;
}
.flex-container  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
/*  border: 1px solid black;*/
}
.flex-item  {
  width: 150px;
  border: 1px solid black;
  margin-right: 20px;
}
.three  {
  width: 160px;
}
.last  {
  width: 370px;
  margin-right: 50px;
}
.copy  {
  height: 90px;
  font-size: 15px;
  line-height: 18px;
/*  border: 1px solid black;*/
}
.short {
  height: 60px;
}
.title  {
  text-decoration: underline;
  font-weight: 400;
}
.education .one  {
/*  width: 150px;*/
  flex-grow: 1;
}
.education .two  {
/*    width: 150px;*/
  flex-grow: 1;
}
.education .three  {
  width: 320px;
  flex-grow: 1;
/*  margin-right: -20px;*/
  border: 1px solid black;
}
.education .last  {
  width: 10px;
  flex-grow: 6;

}
.education .copy {
  height: 70px;
}






.otherthings  {

}
.whofor a {
  list-style-type: none;
  color: black;
}
/*#quals  {
min-width: 520px;  
max-width: 1080px;
border: 1px solid black;
}*/

.bottom  {
  position: absolute;
  top: 1450px;
  left: 0px;
  width: 100%;
  height: 70px;
  /*border: 1px solid black;*/
  text-align: center;
  line-height: 20px;
}

