@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            width: 22px;
    background-color: FFFFFF;
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
.menucontainer  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
/*  border: 1px solid black;*/
}
.menu {
  display: flex;
  justify-content: space-around;
  margin: 20px 70px;
  /*border: 1px solid black;*/
}
.menuitems a  {
  list-style-type: none;
  color: black;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
}
.menuitems a:hover  {
  font-style: italic;
}
.deetscontainer  {
  position: absolute;
  top: calc(25px + 8vw);
  left: calc(5px + 6vw);
  width: calc(50px + 14vw);
  z-index: 0;
  /*border: 1px solid black;*/
}
.deets.title  {
  top: -0.57vw;
  position: relative;
  font-size: calc(10px + 5vw);
  font-weight: 400;
  text-decoration: underline;
  /*width: calc(50px + 7vw);*/
  /*border: 1px solid black;*/
}
.deets.category  {
  margin-top: calc(2px + 0.5vw);
  /*margin-top: calc(2px + 11.7vw);*/
  font-size: calc(4px + 2.3vw);
  text-transform: uppercase;
  font-style: italic;
}
.deets.blurb  {
 margin-top: calc(2px + 0.4vw);
  /*font-size: calc(8px + 0.6vw);
  line-height: calc(6px + 1.1vw);*/
   font-size: calc(6px + 0.5vw);
  line-height: calc(2px + 1.3vw);
/*  color: rgb(100, 100, 100);*/
  /*font-style: italic;*/
}
.workcontainer  {
  position: absolute;
  top: 0;
  width: 100%;
  /*border: 1px solid black;*/
}
#container  {
  box-sizing: border-box;
  position: absolute;
  margin-top: 150px;
  width: 60vw;
  height: px;
  margin-left: 320px;
  border: 1px solid black;
}
#banner-fade  {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
.bjqs  {
  /*border: 1px solid black;*/
  width: 1000px;
}
.bjqs-controls .bjqs-prev a {
  margin-left: -50px;
  list-style-type: none;
  text-decoration: none;
  color: #000000;
  font-size: 40px;
}
.bjqs-controls .bjqs-next a {
  margin-right: -50px;
  list-style-type: none;
  text-decoration: none;
  color: #000000;
  font-size: 40px;
}
.bjqs-markers.h-centered a  {
  list-style-type: none;
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  line-height: 35px;
}
.bottom  {
  position: absolute;
  top: 900px;
  left: 0px;
  width: 100%;
  height: 100px;
  /*border: 1px solid black;*/
  text-align: center;
  line-height: 20px;
}
/*@media (min-width: 1400px) { 
    #container  {
  width: 940px;
  height: 940px;
  margin-left: 320px;
  border: 0px solid black;
}
.secret-source  {
  height      : 473;
  width       : 840;
}
    .bottom  {
      margin-top: 129px;
    }
}*/
