@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            width: 22px;
}

body  {
  font-family: 'Roboto';
}
#header  {
  position: absolute;
  display: block;
  box-sizing: border-box;
  list-style-type: none;
  margin-top: 70px;
  margin-left: 165px;
  width: 810px;
  border: 0px solid black;
}
#headerp  {
   font-size: 50px;
   font-weight: 400;
   text-decoration: underline;
 }
clearit  {
  clear: both;
}
 #tsandcs  {
   position: absolute;
     font-size: 13px;
     line-height: 19px;
     line-width: 6px;
     border: 0px solid black;
     width: 660px;
     margin-top: 124px;
     margin-left: 200px;
     padding-right: 13px;
     height: 340px;
     overflow-x: scroll;
     overflow-y: ;
}
span  {
  font-size: 20px;
  text-transform: uppercase;
}
#buttons {
  position: absolute;
  margin-top: 480px;
  margin-left: 200px;
  display: block;
  box-sizing: border-box;
  height: 150px;
  width: 812px;
}
  #accept  {
    display: block;
    text-decoration: none; 
    list-style-type: none;
    font-size: 21px;
    text-align: center;
    color: black;
    width: 90px;
    padding: 8px;
    margin-top: 0px;
    border: 2px solid black;
  }
#decline  {
  display: block;
  text-decoration: none; 
  list-style-type: none;
  font-size: 21px;
  text-align: center;
  color: black;
  width: 90px;
  padding: 8px;
  margin-top: 13px;
  margin-left: 30px;
  border: 2px solid black;
}
#accept:hover  {
  background: url("./Stripes.jpg");
  background-size: 180px 104px;
}
#decline:hover  {
  background: url("http://i.imgur.com/DQsuZnL.png");
}

