@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            width: 22px;

           
}

body  {
  font-family: 'Roboto';
}
#container  {
  position: absolute;
  top: 0;
  width: 100%;
}
#wrapper  {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
}
#headerp  {
  position: absolute;
  display: block;
  box-sizing: border-box;
  list-style-type: none;
  margin-top: 77px;
  margin-left: -2px;
  width: 810px;
  font-size: 65px;
  font-weight: 400;
  text-decoration: underline;
  font-style: italic;
}
#tsandcs  {
     position: absolute;
     font-size: 13px;
     line-height: 19px;
     line-width: 6px;
     border: 0px solid black;
     vertical-align: text-top;
     width: 660px;
     margin-top: 152px;
     margin-left: 50px;
     /*padding-right: 13px;*/
     padding-right: 13px;
     height: calc(50vh - 20px);
     overflow-x: hidden;
     overflow-y: auto;
  /*   outline: 10px solid white;
     outline-offset: -13px;*/

}
/*#tsandcs:hover {
   overflow-y: scroll;
}*/

/*Testing customization of scrollbars*/

#tsandcs::-webkit-scrollbar {
  width: 12px;          /* width of the entire scrollbar */
  opacity: 0; 
}
#tsandcs::-webkit-scrollbar-track {
  border: 1px solid black;
  /*border-left: 3px solid black;*/
  /*background: rgb(212, 212, 212);    */
  background: transparent;        /* color of the tracking area */
}
#tsandcs::-webkit-scrollbar-track: hover {
  border: 1px solid black;
  /*background: rgb(212, 212, 212);    */
  background: transparent;        /* color of the tracking area */
}
#tsandcs::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
  border-radius: 0px;       /* roundness of the scroll thumb */
  border: 0px solid orange;  /* creates padding around scroll thumb */
  height: 16px;    
}        
/*#tsandcs:hover #tsandcs::-webkit-scrollbar {
  opacity: 1; 
}*/
#tcsandcs:hover { 
  overflow-y: auto; 
}

span  {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}
a  {
  list-style-type: none;
  text-decoration: underline;
  color: black;
}
#buttons {
  position: absolute;
  margin-top: calc(50vh + 145px);
  /*margin-top: calc(50vh + 180px);*/
  margin-left: 50px;
  /*margin-bottom: 50px;*/
  display: block;
  box-sizing: border-box;
  height: 150px;
  width: 812px;
  font-weight: 500;
  /*border: 1px solid black;*/
}
#accept  {
    display: block;
    text-decoration: none; 
    list-style-type: none;
    font-size: 21px;
    text-align: center;
    color: black;
    width: 90px;
    height: 20px;
    padding: 8px;
    margin-top: 0px;
    border: 3px solid black;
}
#decline  {
  display: block;
  text-decoration: none; 
  list-style-type: none;
  font-size: 21px;
  text-align: center;
  color: black;
  width: 90px;
  height: 20px;
  padding: 8px;
  margin-top: 13px;
  margin-left: 30px;
  border: 3px solid black;
}
#accept:hover  {
  background: url("./P_Rodney_Dangerfield_tiny.jpg");
  background-size: 140px 44px;
  font-size: 0px;
}
#decline:hover  {
  background: url("./tinygrace1.jpg");
  background-size: 114px 36px;
  font-size: 0px;
}

@media only screen 
  and (min-device-width: 300px) 
    and (max-device-width: 480px)
/*  and (max-device-width: 480px)
*/  /*and (-webkit-min-device-pixel-ratio: 2)*/
  and (orientation: portrait) {

#headerp  {
  font-size: 65px;
  margin-top: 100px;
}
#tsandcs  {
 font-size: 13px;
 line-height: 19px;
 line-width: 6px;
 margin-top: 173px;
 margin-left: 60px;
 width: 640px;
 padding-right: 13px;
 height: calc(40vh - 20px);
}
span  {
font-size: 13px;
}
#tsandcs::-webkit-scrollbar {
  width: 20px;         
}
#tsandcs::-webkit-scrollbar-thumb {
  height: 28px;    
}   
#buttons  {
  /*margin-top: calc(31vh + 150px);*/
  margin-top: 865px;
  margin-left: 60px;
}
#accept  {
    font-size: 42px;
    width: 180px;
    height: 40px;
    padding: 16px;
    border: 6px solid black;
}
#decline  {
  font-size: 42px;
  width: 180px;
  height: 40px;
  padding: 16px;
  border: 6px solid black;
  margin-top: 26px;
  margin-left: 60px;
}
#accept:hover  {
  background-size: 280px 88px;
}
#decline:hover  {
  background-size: 228px 72px;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation :portrait) { 
#buttons  {
  /*margin-top: calc(31vh + 150px);*/
  margin-top: 1020px;
  margin-left: 60px;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation :landscape) { 
#headerp  {
  margin-top: 110px;
}

@media only screen 
  and (min-device-width: 300px) 
    and (max-device-width: 896px)
  and (orientation: landscape) {

#tsandcs  {
  margin-top: 10px;
  height: 100px;
  text-decoration-color: red;
}
/*
#tsandcs  {
  width: 80vw;
  margin-left: 0vw;
  height: 50vh;*/
}
/*#headerp  {
  margin-left: -4vw;
}
#buttons  {
  margin-top: 80vh;
  margin-left: 0vw;
}*/*/
/*@media only screen 
  and (min-device-width: 200px) 
    and (max-device-width: 512px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
#tsandcs  {
  width: 80vw;
  margin-left: 0vw;
  height: 70vh;
}
#headerp  {
  margin-left: -4vw;
}*/
