@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
  background-color: FFFFFF;
}
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
.menu  {
  position: fixed;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 5px;
  padding: 10px;
  max-width: 1500px;
  min-width: 900px;
  border: 0px solid black;
  z-index: 10;
}
.menuitems  {
  display: inline;
  width: 200px;
  margin-left: 40px;
  margin-right: 40px;
  border: 0px solid black;
  text-align: center;
}
a  {
  list-style-type: none;
  text-decoration: underline;
  color: black;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
}
.menuitems a:hover  {
  font-style: italic;
}
#sideways  {
  position: fixed;
  font-size: 44px;
  margin-top: 230px;
  margin-left: 900px;
  width: 350px;
  height: 90px;
  padding: 20px;
  transform: translate(-50%, -100%);
  transform: rotate(90deg);
  color: black;
  border: 5px solid black;
  z-index: 0;
}
 .deets  {
  position: fixed;
  margin-left: 50px;
  width: 260px;
}
.deets.title  {
  margin-top: 100px;
  font-size: 50px;
  font-weight: 400;
  text-decoration: underline;
}
.deets.description  {
  margin-top: 250px;
  font-size: 32px;
  font-style: italic;
}
.deets.blurb  {
  position: fixed;
  margin-top: 330px;
  width: 200px;
  font-size: 14px;
}
.slider-wrapper {
  display: block;
  margin-top: 200;
  margin-left: 200;
}

/*#yctys {
  position: absolute;
  margin-top: 100px;
  margin-left: 400px;
}
.bjqs img  {
      width: 250px;
      height: 100%;
}
ul.bjqs{
  position:relative; 
  list-style:none;
  padding:0;
  margin:0;
  overflow:hidden; 
  display:none;
}
li.bjqs-slide  {
  display:none;
}
ul.bjqs-controls  {
  list-style-type:none;
  margin:0;
  padding:0;
  z-index:9999;
}
ul.bjqs-controls.v-centered li a  {
  position:absolute;
}
ul.bjqs-controls.v-centered li.bjqs-next a  {
  right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

.bottom  {
  position: absolute;
  margin-top: 1650px;
  margin-left: 340px;
  line-height: 20px;
  width: 400px;
  height: 30px;
  border: 0px solid black;
  padding: 60px;
  text-align: center;
}*/
*/

*/