@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
.menu  {
  position: fixed;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 5px;
  padding: 10px;
  max-width: 1500px;
  min-width: 800px;
  border: 1px solid black;
  z-index: 10;
}
.menuitems  {
  display: inline;
  width: 200px;
  margin-left: 40px;
  margin-right: 40px;
  border: 0px solid black;
  text-align: center;
}
a  {
  list-style-type: none;
  text-decoration: underline;
  color: black;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
}
.menuitems a:hover  {
  font-style: italic;
}
#sideways  {
  position: fixed;
  font-size: 44px;
  margin-top: 250px;
  margin-left: 900px;
  width: 350px;
  height: 90px;
  padding: 20px;
  transform: translate(-50%, -100%);
  transform: rotate(90deg);
  color: black;
  border: 5px solid black;
  z-index: 0;
}
/*#title  {
  margin-top: 100px;
}*/
/*.deets  {
  position: fixed;
  margin-left: 50px;
  width: 240px;
}
.deets.title  {
  margin-top: 100px;
  font-size: 58px;
  font-weight: 400;
  text-decoration: underline;
}
.deets.description  {
  margin-top: 230px;
  font-size: 42px;
  font-style: italic;
}
.deets.blurb  {
  position: fixed;
  margin-top: 500px;
  font-size: 14px;
}*/
/*#tfprint {
  display: block;
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 50px;
  max-width: 600px;
  min-width: 400px;
  border: 0px solid black;
}*/
.tf  {
  max-width: 800px;
  min-width: 340px;
}
.tf img {
  width: 340px;
  float: left;
}
.tf.energy {
  float: right;
  margin-top: 100px;
  margin-right: 50px;
  width: 700px;
  min-width: 340px;
  border: 1px solid black;
}
#clearit  {
  clear: both;
}
.tf.muscle {
  float: right;
  margin-top: 15px;
  margin-left: 150px;
 
  min-width: 340px;
  border: 1px solid black;
}
#clearit  {
  clear: both;
}
.tf.mood {
  float: right;
  margin-top: 15px;
  
  width: 700px;
  min-width: 340px;
  border: 1px solid black;
}
#clearit  {
  clear: both;
}
.tf.hair  {
  float: left;
  margin-top: 15px;
  margin-left: 0px;
}
